.container{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    /* border-style: solid; */
    font-family: 'BatmanForeverOutline', sans-serif;
    font-family: 'BatmanForeverAlternate', sans-serif;

}

.eventHeading{
    font-family: 'BatmanForeverOutline', sans-serif;
    font-family: 'BatmanForeverAlternate', sans-serif;
    font-size: 4rem;
    text-align: center;
    user-select: none;
    margin-top: 7%;
}

.highlights-horizontal-flex{
    display: flex;
    /* border-style: solid; */
    /* border-color: red; */
    justify-content: center;
    text-align: center;
    margin-top: 6%;
    height: 70%;
}

.left-div{
    /* border-style: solid; */
    width: 40%;
}

.left-div-content{
    /* border-style: solid; */
    height: 70%;
    margin-top: 10%;
   
}


.left-div-content-img{
    border-style: solid;
    border-radius: 10px;
    margin-top: 21%;
    width: 35vw;
    height: 20vw;
    background-image: url("./images/back.jpeg");
    background-repeat: no-repeat;
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
    animation: changeImage 20s linear infinite;
    background-size: 35vw;
}

@keyframes changeImage{
    0%{
        background-image: url("./images/back.jpeg");
    }
    50%{
        background-image: url("./images/unkown.jpg");
    }
    100%{
        background-image: url("./images//back.jpeg");
    }
}

.right-div{
    /* border-style: solid; */
    width: 55%;

}

.right-div-content{
    /* border-style: solid; */
    /* border-color: red; */
    border-radius: 10px;
    margin-top: 8vw;
} 

.highlight-content{
    text-align: center;
    word-wrap: break-word; 
    /* border-style: solid; */
    margin-left: 15px;
    margin-right: 15px;
    width: 50.5vw;
    font-size: 2rem;
    color:grey;
}



@media screen and (max-width:1700px) and (min-width:1555px) {
    .left-div-content-img{
        margin-top: 7vw;
    }
    .highlight-content{
        font-size: 1.5rem;
    }

    .highlights-horizontal-flex{
        margin-top: 8%;
    }
}

@media screen and (max-width:1555px) and (min-width:1370px) {
    .left-div-content-img{
        margin-top: 8vw;
    }
    .highlight-content{
        font-size: 1.5rem;
    }
    .highlights-horizontal-flex{
        margin-top: 12%;
    }

}

@media screen and (max-width:1370px) and (min-width:1000px) {
    .left-div-content-img{
        margin-top: 9vw;
    }
    .highlight-content{
        font-size: 1.5rem;
    }
    .highlights-horizontal-flex{
        margin-top: 16%;
    }
}

@media screen and (max-width:1280px) and (min-width:1000px) {
    .highlights-horizontal-flex{
        flex-direction: column;
    }

    .left-div{
        height: 400px;
        width:100%;
        /* margin-top: 5%; */
        /* border-color: green; */
        margin-bottom: 5%;
        margin-top: -250px;
    }

    .left-div-content{
        height: 100%;
        margin-left: 125px;
        margin-right: 50px;
        font-size: 0.7rem;
        margin-top: -60px;
    }
    .left-div-content-img{
        width:740px;
        background-size: 740px;
        height: 440px;
        margin-left: 50px;
    }

    .highlight-content{
    text-align: center;
    word-wrap: break-word; 
    /* border-style: solid; */
    margin-left: 70.5px;
    margin-right: 15px;
    width: 100%;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -40px;
    }

    .eventHeading{
    font-size: 4.5rem;
    margin-top: -45px;
    margin-left: 160px;
    margin-top: 50px;
    }

    .right-div{
        font-size: 2vw;
        width: 945px;
        margin-top: 45px;
    }

    .right-div-content{
        margin-top: 5%;
        margin-left: 60px;
        margin-right: 50px;
    }
}



@media screen and (max-width:1000px) {

    .highlights-horizontal-flex{
        flex-direction: column;
    }

    .left-div{
        height: 500px;
        width:100%;
        margin-top: -180px;
        /* border-color: green; */
        margin-bottom: 5%;
    }

    .left-div-content{
        height: 100%;
        margin-left: 70px;
        margin-right: 50px;
        font-size: 0.7rem;
        margin-top: 0%;
    }
    .left-div-content-img{
        width:840px;
        background-size: 840px;
        height: 500px;
    }

    .highlight-content{
    text-align: center;
    word-wrap: break-word; 
    /* border-style: solid; */
    margin-left: 25.5px;
    margin-right: 15px;
    width: 100%;
    font-size: 15px;
    margin-right: 10px;
    margin-top: -25px;
    }

    .eventHeading{
    font-size: 4.5rem;
    margin-left: 70px;
    margin-top: 50px;

    }

    .right-div{
        font-size: 2vw;
        width: 945px;
        margin-top: 130px;
        margin-bottom: -100px;
    }

    .right-div-content{
        margin-top: 5%;
        margin-left: 45px;
        margin-right: 50px;
    }

}

@media screen and (max-width:886px) and (min-width:658px) {
    .left-div{
        height: 500px;
        width:100px;
        /* margin-top: 5%; */
        /* border-color: green; */
        /* border-style: solid; */
        margin-bottom: -300px;
    }

    .left-div-content-img{
        width: 500px;
        height: 280px;
        margin-left: 95px;
        background-size: 500px;
    }

    .right-div{
        margin-top: 90px;
        /* border-style: solid; */
        width: 450px;
        margin-left: 130px;
        margin-bottom: -300px;
    }


    .highlight-content{
        font-size: 15px;
        /* border-style: solid; */
        width: 500px;
        height: 100px;
        margin-left: -5px;
        }

    .eventHeading{
        font-size: 4rem;
        margin-left: 15px;
    }
}

@media screen and (max-width:658px) and (min-width:0px) {
    .left-div{
        height: 500px;
        width:100px;
        /* margin-top: 5%; */
        /* border-color: green; */
        /* border-style: solid; */
        margin-bottom: -250px;
        margin-top: 20px;
        margin-left: -20px;
    }

    .left-div-content-img{
        width: 300px;
        height: 180px;
        margin-left: 20px;
        background-size: 300px;
    }

    .right-div{
        margin-top: -50px;
        /* border-style: solid; */
        width: 450px;
        margin-bottom: -200px;
    }


    .highlight-content{
        font-size: 10px;
        /* border-style: solid; */
        width: 300px;
        height: 100px;
        margin-left: 30px;
        margin-top: 10px;
        }

    .eventHeading{
        font-size: 1.5rem;
        margin-top: -30px;
        margin-left: 10px;
    }

    .container{
        height: 500px;
    }
}